{{ define "main" }}

<section>


  <h1>Daniel Hannih</h1>
  <p>born Daniel Johannes Albert Mitteregger - living and working in Graz, Austria.</p>
  <p>While it all started with drawings in my childhood, the ways I try to express myself evolved in a lot of different categories. From illustrations and artworks to ui and ux design. From app and mobile games design to even developing them.</p>
  <p>I also love creating large <a id="painting" href="https://hannih.com/" title="Paintings and Art by Daniel Hannih">paintings</a> with acrylics. In 2017, I released my first instrumental EP on <a id="spotify" rel="nofollow" href="https://open.spotify.com/artist/2qw51vuk7jFRHAiHoQgWbr"
      title="Music by Daniel Hannih on Spotify">Spotify</a>. Right now I’m the Creative Director at <a id="appradar" rel="nofollow" href="https://appradar.com/" title="App Radar - App Store Optimization">App Radar</a>.
    And I run a mobile games studio called <a id="psycatgames" href="https://psycatgames.com/" title="Mobile Games by PsyCat Games">PsyCat Games</a>, which you should definitely check out right now.</p>
  <p>I'm also a big supporter of veganism and created a website called <a id="vegan" href="https://vegan.rocks" title="Quality resources about plan-based diets and the Vegan lifestyle.">vegan.rocks</a> to provide resources about plant-based diets
    and the vegan lifestyle.</p>

</section>

<section>
  <hr>
  <h2>Showcase</h2>
  <p class="portfolio it">Different projects from the last years.</p>
</section>

<!-- -->


<!-- -->

<section class="full-width">
  <div class="split reverse">
    <div class="right text text-r">
      <h3>Apps & mobile games</h3>
      <p class="portfolio">In 2018, I doubled down on mobile games and created an indie games studio called PsyCat Games. With a portfolio of 20+ apps and over 20.000 active user each month, our mission is to publish fun and addictive games.<br>
      <a class="social launch-links" href="https://psycatgames.com/" title="Mobile Games by PsyCat Games">psycatgames.com</a></p>
    </div>
    <div class="left graphic g-l">
      <amp-img alt="A view of the sea" src="images/apps.png" width="610" height="452" layout="responsive">
      </amp-img>
    </div>
  </div>

</section>

<section class="full-width">
  <div class="split">
    <div class="left text text-l">
      <h3>App Radar</h3>
      <p class="portfolio">App Radar helps marketers and developers of mobile apps and games increasing their organic reach in the app stores. It’s a high-end SAAS solution powered by AI, with features designed to improving search rankings and your
        workflow.<br>
        <a class="social launch-links" rel="nofollow" href="https://appradar.com/" title="App Radar - App Store Optimization">appradar.com</a></p>
    </div>
    <div class="right graphic">
      <amp-img alt="A view of the sea" src="images/app-radar-laptop.png" width="1000" height="575" layout="responsive">
      </amp-img>
    </div>
  </div>

</section>

<section class="center">
  <!--<p class="portfolio">Tutorials on Youtube.</p>-->
  <h3>Speedpaintings</h3>
  <p class="portfolio">Screenrecorded how-to and tutorial videos on Youtube.</p>
  <amp-youtube data-videoid="7Wpu6yn5WpQ" autoplay="1" layout="responsive" width="480" height="270">
  </amp-youtube>

</section>


<section class="contact-links">
  <h2>Get in touch</h2>
  <div>
    <a class="social" target="_top" href="mailto:daniel.mitteregger@gmail.com?Subject=Hello%20Daniel" title="Contact Daniel Hannih via Email">Email</a>
    <a class="social" rel="nofollow" href="https://www.linkedin.com/in/danielhannih/" title="Daniel Hannih on LinkedIn">LinkedIn</a>
    <a class="social" rel="nofollow" href="https://www.facebook.com/TheArtOfHannih/" title="The Art of Daniel Hannih on Facebook">Facebook</a>
    <a class="social" rel="nofollow" href="https://www.instagram.com/danielhannih/" title="Daniel Hannih on Instagram">Instagram</a>
    <a class="social" rel="nofollow" href="https://www.youtube.com/user/danivain" title="Daniel Hannih on Youtube">Youtube</a>
    <a class="social" rel="nofollow" href="https://twitter.com/danielhannih" title="Daniel Hannih on Twitter">Twitter</a>
    <a class="social" rel="nofollow" href="https://dribbble.com/danielhannih" title="Design and Sketches by Daniel Hannih on Dribbble">Dribbble</a>
  </div>

</section>

</body>
{{ end }}
