<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
  <title>
    Sketch App Icon
  </title>
  <desc>
    The yellow Sketch crystal created by Daniel Hannih.
  </desc>
  <g fill="none">
    <g transform="translate(8 9)">
      <polygon points="5.2 0.7 12 0 18.7 0.7 24 7.7 12 21.5 0 7.7" fill="#FDB300"/>
      <path d="M4.9 7.7L12 21.5 0 7.7M19.1 7.7L12 21.5 24 7.7" fill="#EA6C00"/>
      <polyline points="4.9 7.7 19.1 7.7 12 21.5" fill="#FDAD00"/>
      <path d="M12 0L5.2 0.7 4.9 7.7M12 0L18.7 0.7 19.1 7.7" fill="#FDD231"/>
      <path d="M24 7.7L18.7 0.7 19.1 7.7M0 7.7L5.2 0.7 4.9 7.7" fill="#FDAD00"/>
      <polyline points="12 0 4.9 7.7 19.1 7.7" fill="#FEEEB7"/>
    </g>
  </g>
</svg>
