<link rel="canonical" href="{{ .Permalink }}">

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover">
<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta name="google-site-verification" content="FKrF6yyaT3BrppQ7yi9VZtQHGzJmEWAhWv_unWkHKz8">

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Daniel Hannih - Creator and Maker from Graz, Austria",
    "alternateName": "Daniel Hannih",
    "url": "https://danielhannih.com"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Daniel Hannih",
    "url": "https://danielhannih.com",
    "sameAs": [
      "https://www.facebook.com/TheArtOfHannih/",
      "https://www.instagram.com/danielhannih/",
      "https://www.linkedin.com/in/danielhannih/",
      "https://www.facebook.com/TheArtOfHannih/",
      "https://www.youtube.com/user/danivain",
      "https://dribbble.com/danielhannih",
      "https://plus.google.com/+DanielHannih"
    ]
  }
</script>

{{ partial "head/favicon.html" . }}

{{ partial "head/styles.html" . }}
