<!-- AMP Variables -->
{{ $amp_runtime := "https://cdn.ampproject.org/v0.js" }}
{{ $amp_analytics := "https://cdn.ampproject.org/v0/amp-analytics-0.1.js" }}
{{ $amp_youtube := "https://cdn.ampproject.org/v0/amp-youtube-0.1.js" }}

<meta charset="utf-8">

<!-- 1. META -->
<!-- Alle meta tags sollten hier her -->
<meta name="description" content="{{ .Params.seo_description | default .Description }}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover">
<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">
<meta name="referrer" content="unsafe-url">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="google-site-verification" content="{{ .Site.Params.googleverification }}">

<!-- Social Media Stuff -->
<meta property="og:title" content="{{ .Params.seo_title | default .Title }}" />
<meta property="og:description" content="{{ .Params.seo_description | default .Description }}" />
<meta property="og:site_name" content="{{ .Site.Params.personName }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="website" />


{{- with .Resources.Match "feature*" }}
<meta property="og:image" content="{{ range . }}{{ $imgfb := .Fill "1200x630" }}{{ $imgfb.Permalink }}{{ end }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{{ end }}

<meta name="twitter:card" content="{{ .Params.seo_description | default .Description }}">
<meta name="twitter:title" content="{{ .Params.seo_title | default .Title }}">
<meta name="twitter:description" content="{{ .Params.seo_description | default .Description }}">
{{- with .Resources.Match "feature*" }}
<meta name="twitter:image" content="{{ range . }}{{ $imgtwitter := .Fill "1200x675" }}{{ $imgtwitter.Permalink }}{{ end }}">
{{ end }}


<!-- 2. AMP Runtime -->
<!-- Preload the AMP runtime v0.js -->
<link rel="preload" as="script" href="{{ $amp_runtime }}">


<!-- 3. Preload AMP Components & Extensions  -->
<link as="script" rel="preload" href="{{ $amp_analytics }}">


<!-- 4. Preconnect to unknown resources ahead eg: https://fonts.gstatic.com/ -->
<link rel="preconnect dns-prefetch" href="https://use.typekit.net" crossorigin>


<!-- 5. Load the AMP runtime: -->
<script async src="{{ $amp_runtime }}"></script>


<!-- 6. Load your AMP Extensions -->
<script async custom-element="amp-analytics" src="{{ $amp_analytics }}"></script>
<script async custom-element="amp-youtube" src="{{ $amp_youtube }}"></script>


<!-- 7. Load otherscripts that are not render blocking -->
{{ partial "head/schema.html" . }}



<!-- 8. Styling / CSS -->
<style amp-custom>
{{- $style := resources.Get "home.scss" | toCSS | postCSS (dict "use" "autoprefixer") | minify -}}
{{- $style.Content | safeCSS -}}
</style>


<!-- 9. Add any other tags allowed in the head section. In particular, any external fonts should go last since they block rendering -->
<link rel="stylesheet" href="https://use.typekit.net/kpx2nft.css">


{{ partial "head/favicon.html" . }}

<!-- RSS -->
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}


<!-- 10. AMP boilerplate comes last! -->
{{ partial "amp/amp-boilerplate.html" . }}


<!-- 11. Canonical + Title -->
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Params.seo_title | default .Title }}</title>
