<!DOCTYPE html>
<html ⚡ lang="en">
<head>
  <!-- AMP Variables -->
  {{ $amp_runtime := "https://cdn.ampproject.org/v0.js" }}
  {{ $amp_analytics := "https://cdn.ampproject.org/v0/amp-analytics-0.1.js" }}
  {{ $amp_youtube := "https://cdn.ampproject.org/v0/amp-youtube-0.1.js" }}

  <meta charset="utf-8">

  <!-- 1. META -->
  <!-- Alle meta tags sollten hier her -->
  <meta name="description" content="{{ .Params.seo_description | default .Description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="referrer" content="unsafe-url">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="google-site-verification" content="{{ .Site.Params.googleverification }}">

  <!-- Social Media Stuff -->
  <meta property="og:title" content="{{ .Params.seo_title | default .Title }}" />
  <meta property="og:description" content="{{ .Params.seo_description | default .Description }}" />
  <meta property="og:site_name" content="{{ .Site.Params.personName }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="website" />


  {{- with .Resources.Match "feature*" }}
  <meta property="og:image" content="{{ range . }}{{ $imgfb := .Fill "1200x630" }}{{ $imgfb.Permalink }}{{ end }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  {{ end }}

  <meta name="twitter:card" content="{{ .Params.seo_description | default .Description }}">
  <meta name="twitter:title" content="{{ .Params.seo_title | default .Title }}">
  <meta name="twitter:description" content="{{ .Params.seo_description | default .Description }}">
  {{- with .Resources.Match "feature*" }}
  <meta name="twitter:image" content="{{ range . }}{{ $imgtwitter := .Fill "1200x675" }}{{ $imgtwitter.Permalink }}{{ end }}">
  {{ end }}


  <!-- 2. AMP Runtime -->
  <!-- Preload the AMP runtime v0.js -->
  <link rel="preload" as="script" href="{{ $amp_runtime }}">


  <!-- 3. Preload AMP Components & Extensions  -->
  <link as="script" rel="preload" href="{{ $amp_analytics }}">


  <!-- 4. Preconnect to unknown resources ahead eg: https://fonts.gstatic.com/ -->
  <link rel="preconnect dns-prefetch" href="https://use.typekit.net" crossorigin>


  <!-- 5. Load the AMP runtime: -->
  <script async src="{{ $amp_runtime }}"></script>


  <!-- 6. Load your AMP Extensions -->
  <script async custom-element="amp-analytics" src="{{ $amp_analytics }}"></script>
  <script async custom-element="amp-youtube" src="{{ $amp_youtube }}"></script>


  <!-- 7. Load otherscripts that are not render blocking -->
  {{ partial "head/schema.html" . }}



  <!-- 8. Styling / CSS -->

  {{- $danielImage := "" -}}
  {{- with .Resources.Match "daniel-fullshot*" -}}
  {{- range . -}}
  {{- $danielImage = . -}}
  {{- end -}}
  {{- end -}}

  {{- $astroboy := "" -}}
  {{- with .Resources.Match "astro-boy*" -}}
  {{- range . -}}
  {{- $astroboy = . -}}
  {{- end -}}
  {{- end -}}

  <style amp-custom>
    :root {
      --daniel: url({{- ($danielImage.Permalink) | safeCSS -}});
      --astroboy: url({{- ($astroboy.Permalink) | safeCSS -}});
    }
  {{- $style := resources.Get "home.scss" | toCSS | postCSS (dict "use" "autoprefixer") | minify -}}
  {{- $style.Content | safeCSS -}}
  </style>


  <!-- 9. Add any other tags allowed in the head section. In particular, any external fonts should go last since they block rendering -->
  <link rel="stylesheet" href="https://use.typekit.net/kpx2nft.css">


  {{ partial "head/favicon.html" . }}

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}


  <!-- 10. AMP boilerplate comes last! -->
  {{ partial "amp/amp-boilerplate.html" . }}


  <!-- 11. Canonical + Title -->
  <link rel="canonical" href="{{ .Permalink }}">
  <title>{{ .Params.seo_title | default .Title }}</title>
</head>

<body>





<div class="recommended-view">
  <div class="banner-mobile-display">
    <span>For best experience view on desktop.</span>
  </div>
  <div class="banner-wide-display">
    <span>Sorry, this site isn't optimized for such big screens.</span>
  </div>

</div>

<section class="why">

  <h1>Being able to create things and express myself, is what keeps me awake at night.</h1>
  <a class="cta" href="#">Learn more</a>
</section>

<section class="how">
  <h2>The possibility to learn something new every day, is what powers my drive to be creative.</h2>
  <p>Whenever I discover something new — that firmly excites me — I go all-in. I get obsessed. And suck it up like a sponge. I don’t believe in much, but learning something new each day is the coolest thing ever. And I'm grateful that the majority of us have access to technology to literally go on Youtube and learn how to peel a banana.</p>
  <a class="cta" href="#">Keep exploring</a>
  <div class="astroboy-footer-note">
    <div class="astroboy-info">
      <h5>Astroboy (2014)</h5>
      <span>Photoshop</span>
      <a rel="nofollow noopener" target="_blank" href="https://www.youtube.com/watch?v=RfZmEIuyNNc">Making-of Video</a> <!-- In overlay öffnen? -->
    </div>
  </div>
</section>



<!-- Interior Lamp -->


<section class="interior-lamp">
  {{- $lamp := "" -}}
  {{- with .Resources.Match "interior-lamp*" -}}
  {{- range . -}}
  {{- $lamp = . -}}
  {{- end -}}
  {{- end -}}
  <div>
    <amp-img alt="Interior Lamp made in Photoshop" src="{{ $lamp.Permalink }}" width="1130" height="725" layout="responsive"
      sizes="1130px">
    </amp-img>
  </div>
  <div class="interior-lamp-footer-note">
    <div>
      <h5>Fake Interior Series (2015)</h5>
      <span>Photoshop</span>
    </div>
  </div>
</section>


<!-- What Section  -->


<section class="what">
  <div class="what-text">
    <h2>Analogue or digital. I don’t care about the medium. The result matters.</h2>
    <p>From illustrations and artworks to ui and ux design. From app and mobile games design to even developing them. Making large acrylic paintings or composing music. I just love the process.</p>
    <a class="cta" href="#">Project Showcase</a>
  </div>
  <div class="bouncy-heroes-characters">

    {{- $bhFlyps := "" -}}
    {{- with .Resources.Match "bouncy-hero-flyps*" -}}
    {{- range . -}}
    {{- $bhFlyps = . -}}
    {{- end -}}
    {{- end -}}

    {{- $bhBlue := "" -}}
    {{- with .Resources.Match "bouncy-hero-blue*" -}}
    {{- range . -}}
    {{- $bhBlue = . -}}
    {{- end -}}
    {{- end -}}

    <div class="bouncy-hero-flyps">
      <amp-img alt="Bouncy Hero Flyps" src="{{ $bhFlyps.Permalink }}" width="245" height="284" layout="responsive"
        sizes="245px">
      </amp-img>
    </div>
    <div class="bouncy-hero-blue">
      <amp-img alt="Bouncy Hero Blue" src="{{ $bhBlue.Permalink }}" width="219" height="217" layout="responsive"
        sizes="219px">
      </amp-img>
    </div>

  </div>
</section>



<!-- Project Intro -->


<section class="projects-intro">
  <!-- <h2>Curious what<br>I’m doing?</h2> -->
  <h2>Stay curious<br>right now.</h2>
</section>



<!-- PsyCat Games -->



<section class="project-psycat-games">

  {{- $hpBlue := "" -}}
  {{- with .Resources.Match "happy-pills-blue*" -}}
  {{- range . -}}
  {{- $hpBlue = . -}}
  {{- end -}}
  {{- end -}}

  {{- $hpVagra := "" -}}
  {{- with .Resources.Match "happy-pills-vagra*" -}}
  {{- range . -}}
  {{- $hpVagra = . -}}
  {{- end -}}
  {{- end -}}

  {{- $hpPink := "" -}}
  {{- with .Resources.Match "happy-pills-pink*" -}}
  {{- range . -}}
  {{- $hpPink = . -}}
  {{- end -}}
  {{- end -}}

  {{- $hpFlaxi := "" -}}
  {{- with .Resources.Match "happy-pills-flaxi*" -}}
  {{- range . -}}
  {{- $hpFlaxi = . -}}
  {{- end -}}
  {{- end -}}

  {{- $hpShadow := "" -}}
  {{- with .Resources.Match "pills-shadow*" -}}
  {{- range . -}}
  {{- $hpShadow = . -}}
  {{- end -}}
  {{- end -}}


  {{- $appcloudBallrush := "" -}}
  {{- with .Resources.Match "ball-rush-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudBallrush = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudBitcoin := "" -}}
  {{- with .Resources.Match "bitcoin-rush-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudBitcoin = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudBouncyheroes := "" -}}
  {{- with .Resources.Match "bouncy-heroes-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudBouncyheroes = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudBouncyheroesdungeon := "" -}}
  {{- with .Resources.Match "bouncy-heroes-dungeon-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudBouncyheroesdungeon = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudCashflow := "" -}}
  {{- with .Resources.Match "cashflow-rush-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudCashflow = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudCircles := "" -}}
  {{- with .Resources.Match "circles-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudCircles = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudDangerbricks := "" -}}
  {{- with .Resources.Match "danger-bricks-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudDangerbricks = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudFlappybird := "" -}}
  {{- with .Resources.Match "flappy-bird-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudFlappybird = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudHappypills := "" -}}
  {{- with .Resources.Match "happy-pills-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudHappypills = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudMysticland := "" -}}
  {{- with .Resources.Match "mystic-land-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudMysticland = . -}}
  {{- end -}}
  {{- end -}}

  {{- $appcloudSkillball := "" -}}
  {{- with .Resources.Match "skillball-app-icon*" -}}
  {{- range . -}}
  {{- $appcloudSkillball = . -}}
  {{- end -}}
  {{- end -}}



  <div class="image-headline">
    {{- partial "svg/psycat-games-logo.html" -}}
    <h3>PsyCat Games</h3>
  </div>

  <div class="psycat-story-line">
    {{- partial "svg/psycat-story-line.html" -}}
  </div>

  <div class="psycat-story">
    <div class="psycat-story-text">
      <h4>Why making games?</h4>
      <p>What fascinates me about the gaming industry is that it requires so many different skills to work together. The whole process behind designing, building, marketing and monetizing is astonishing. As a passionate gamer myself and with entry-friendly software to enable making games, it was a no-brainer to try it out.</p>
    </div>
    <div class="psycat-app-cloud">

      <div class="app-cloud-row">
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudBitcoin.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudBouncyheroesdungeon.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
      </div>

      <div class="app-cloud-row">
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudMysticland.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudCashflow.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudHappypills.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
      </div>

      <div class="app-cloud-row">
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudBallrush.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudBouncyheroes.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudFlappybird.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
      </div>

      <div class="app-cloud-row">
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudCircles.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudSkillball.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
        <amp-img class="appicon" alt="app icon" src="{{ $appcloudDangerbricks.Permalink }}" width="200" height="200" layout="responsive"
          sizes="200px">
        </amp-img>
      </div>

    </div>
  </div>

  <div class="psycat-evolve">
    <div class="blue-pill-wrap">
      <div class="blue-pill">
        <amp-img alt="Happy Pills Blue" src="{{ $hpBlue.Permalink }}" width="228" height="330" layout="responsive"
          sizes="228px">
        </amp-img>
        <amp-img alt="Pills shadow" src="{{ $hpShadow.Permalink }}" width="388" height="130" layout="responsive"
          sizes="388px">
        </amp-img>
      </div>
    </div>
    <div class="psycat-evolve-text">
      <h4>How it envolved.</h4>
      <p>With a handful of games in place, I wanted a website so people could find them. The site should also support articles around entertainment. In the end the website was designed mobile first and built on top of Google’s AMP with Hugo as a static site generator. This way the site nearly instantly loads if coming from Google Search.</p>
    </div>
  </div>

  <div class="psycat-what">
    <div class="psycat-what-text">
      <h4>How it envolved.</h4>
      <p>With a handful of games in place, I wanted a website so people could find them. The site should also support articles around entertainment. In the end the website was designed mobile first and built on top of Google’s AMP with Hugo as a static site generator.</p>
    </div>
    <div class="psycat-what-pills">
      <div class="vagra-pill">
        <amp-img alt="Happy Pills Vagra" src="{{ $hpVagra.Permalink }}" width="276" height="206" layout="responsive"
          sizes="276px">
        </amp-img>
        <amp-img alt="Pills shadow" src="{{ $hpShadow.Permalink }}" width="388" height="130" layout="responsive"
          sizes="388px">
        </amp-img>
      </div>
      <div class="pink-pill">
        <amp-img alt="Happy Pills Pink" src="{{ $hpPink.Permalink }}" width="238" height="236" layout="responsive"
          sizes="238px">
        </amp-img>
        <amp-img alt="Pills shadow" src="{{ $hpShadow.Permalink }}" width="388" height="130" layout="responsive"
          sizes="388px">
        </amp-img>
      </div>
      <div class="flaxi-pill">
        <amp-img alt="Happy Pills Flaxi" src="{{ $hpFlaxi.Permalink }}" width="189" height="330" layout="responsive"
          sizes="189px">
        </amp-img>
        <amp-img alt="Pills shadow" src="{{ $hpShadow.Permalink }}" width="388" height="130" layout="responsive"
          sizes="388px">
        </amp-img>
      </div>
    </div>
  </div>

</section>

<section class="psycat-tools-tech">
  <div class="psycat-tools-tech-text">
    <h4>Tools & Technology Scope/Stack</h4>
    <p>With a handful of games in place, I wanted a website so people could find them. The site should also support articles around entertainment. In the end the website was designed mobile first and built on top of Google’s AMP with Hugo as a static site generator. </p>
  </div>
  <div class="psycat-tools-tech-list">
    <ul>
      <li>
        {{- partial "svg/icon-sketch.html" -}}<span>Sketch</span>
      </li>
    </ul>
  </div>

</section>














{{ partial "amp/analytics-ids.html" . }}
</body>
</html>
