// Size: 360px, 960px, 1280px, 1440px, 1920px,

$breakpoint-phone: 360px;
$breakpoint-tablet: 960px;
$breakpoint-small-laptop: 1280px;
$breakpoint-big-laptop: 1440px;
$breakpoint-monitor: 1920px;

$round-border: 999px;

$appicon-mask-base64: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+aW9zLWFwcC1pY29uPC90aXRsZT48cGF0aCBkPSJNMCAyMC44NVY5LjE1QzAgNi4yNS4xIDMuOSAyIDIgMy45LjEgNi4yNSAwIDkuMTUgMGgxMS43YzIuOSAwIDUuMjUuMSA3LjE1IDIgMS45IDEuOSAyIDQuMjUgMiA3LjE1djExLjdjMCAyLjktLjEgNS4yNS0yIDcuMTUtMS45IDEuOS00LjI1IDItNy4xNSAySDkuMTVjLTIuOSAwLTUuMjUtLjEtNy4xNS0yLTEuOS0xLjktMi00LjI1LTItNy4xNXoiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");

* {
  margin: 0;
  box-sizing: inherit;
}




html {
  --headline-color: #200044;
  --pastel-green: #E3FDF6;
  --dark-blue: #180DAE;
  --dark-purple: #1B0F29;
  --pale-grey: #F3F5F9;
  --app-icon-mask: #{$appicon-mask-base64};
}

body {
  font-family: canada-type-gibson, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  background: #fff;
  color: #000;
}

::selection {
    background: var(--dark-blue);
    color: var(--pastel-green);
  }

h1,
h2,
h3,
h4,
h5,
.recommended-view span {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  line-height: 1.1em;
  color: var(--headline-color);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 90px;
  margin-bottom: 100px;
  @media only screen and (max-width: $breakpoint-small-laptop) {
    font-size: 70px;
  }
}

h2 {
  font-size: 70px;
  margin-bottom: 50px;
}

h3 {
  font-size: 50px;
  margin-bottom: 50px;
}

h4 {
  font-size: 34px;
  margin-bottom: 20px;
}

h5 {
  font-size: 20px;
  margin-bottom: 5px;
}



p {
  font-size: 30px;
  line-height: 1.4em;
  color: var(--dark-purple);
}

a, amp-img {
  user-select: none;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

a {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  text-decoration: none;

  &.cta {
    color: #fff;
    background: var(--dark-blue);
    border-radius: $round-border;
    display: inline-flex;
    padding: 10px 40px 12px;
    font-size: 26px;
    transition: .3s ease background;
    &:hover {
      background: #4930D9;
    }
  }
}

.recommended-view {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  .banner-wide-display,
  .banner-mobile-display {
    display: none;
    span {
      text-align: center;
    }
  }

  @media only screen and (min-width: $breakpoint-monitor + 1 ) {
    display: flex;
    .banner-wide-display {
      display: inline-flex;
      span {
        font-size: 20px;
      }
    }
  }
  @media only screen and (max-width: $breakpoint-tablet - 1) {
    display: flex;
    .banner-mobile-display {
      display: inline-flex;
      padding: 0 32px;
    }
  }
}

section {
  padding: 150px;
  @media only screen and (max-width: $breakpoint-small-laptop) {
    padding: 60px;
  }
}

.why {
  background: var(--pastel-green);
  background-image: var(--daniel);
  background-size: 50%;
  background-position: 126% center;
  background-repeat: no-repeat;
  // padding-top: 140px;
  @media only screen and (max-width: $breakpoint-small-laptop) {
    background-size: 40%;
    background-position: 120% top;
  }
  h1 {
    max-width: 80%;
  }
}

.how {
  background-image: var(--astroboy);
  background-size: 60%;
  background-position: 126%;
  background-repeat: no-repeat;
  padding-top: 620px;

  h2,
  p {
    max-width: 60%;
  }
  p {
    margin-bottom: 50px;
  }
  .astroboy-footer-note {
    display: flex;
    justify-content: flex-end;
    .astroboy-info {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      a {
        color: #E6431B;
        margin-top:5px;
      }
    }
  }
}

.interior-lamp {
  padding: 0 0 200px 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  .interior-lamp-footer-note {
    right: 150px;
    position: absolute;
    bottom: 330px;
  }
}

.what {
  display: flex;

  p {
    margin-bottom: 50px;
  }
  .bouncy-heroes-characters {
    flex-basis: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > div {
      display: flex;
    }
    .bouncy-hero-flyps {
      justify-content: center;
      padding-bottom: 150px;
    }
    .bouncy-hero-blue {
      justify-content: flex-end;
    }
  }
}


.image-headline {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  h3 {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.projects-intro {
  padding-bottom: 0;
  h2 {
    margin-bottom: 0;
  }
}

.project-psycat-games {
  padding-top: 350px;
  overflow: hidden;
  padding-bottom: 300px;
  box-shadow: inset  0 -150px var(--pale-grey);
  .psycat-story-line {
    text-align: center;
    height: 0;
    svg {
      transform: translateX(-50px);
    }
  }
  .psycat-story {
    display: flex;
    position: relative;
    .psycat-app-cloud {
      display: flex;
      flex-direction: column;
      transform: rotate(10deg) translate(170px, -490px);
      position: absolute;
      right: 0;
      .app-cloud-row {
        display: flex;
        amp-img {
          margin: 20px;
        }
        &:nth-of-type(1) {
          transform: translateX(18%);
        }
        &:nth-of-type(3) {
          transform: translateX(9%);
        }
        &:nth-of-type(4) {
          transform: translateX(27%);
        }
      }
    }
  }
  .psycat-evolve {
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    .blue-pill-wrap {
      amp-img {
        &:nth-of-type(1) {
          transform: rotate(-4deg);
          margin-left: 7%;
        }
        &:nth-of-type(2) {
          transform: translate(-70px, -12px);
          margin-left: 7%;
        }
      }
    }
  }

  .psycat-what {
    padding-top: 200px;
    display: flex;
    position: relative;
    .psycat-what-pills {
      div {
        position: absolute;
      }
      .vagra-pill {
        top: 250px;
        amp-img {
          transform: rotate(-9deg);
          &:nth-of-type(2) {
            transform: translate(-60px,-21px);
          }
        }
      }
      .pink-pill {
        left: 80%;
        top: 0;
        amp-img {
          &:nth-of-type(2) {
            transform: translate(-70px,-21px);
          }
        }
      }
      .flaxi-pill {
        left: 80%;
        top: 400px;
        amp-img {
          transform: rotate(7deg);
          &:nth-of-type(2) {
            transform: translate(-113px,-15px);
          }
        }
      }
    }
  }

  .psycat-story-text,
  .psycat-evolve-text,
  .psycat-what-text {
    width: 600px;
    max-width: 100%;
  }
}

.psycat-tools-tech {
  padding-top: 0;
  background: var(--pale-grey);
  .psycat-tools-tech-list {
    padding-top: 50px;
    li {
      display: flex;
      align-items: center;
      font-size: 20px;
      line-height: 48px;
      span {
        padding-left: 10px;
      }
      div {
        display: inline-flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}






.appicon {
  border-radius: 24%;
  @supports (-webkit-mask-box-image: var(--app-icon-mask)) or (mask-box-image: var(--app-icon-mask)) {
    -webkit-mask-box-image: var(--app-icon-mask);
    mask-box-image: var(--app-icon-mask);
    border-radius: 0;
    box-shadow:0 0 0 2px #fff; //fix Safari ghost border of mask
  }
}
